<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeroMunge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutomationTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeroMunge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AutomationTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ZeroMunge.Properties.Settings>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotificationPopups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayNotificationSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetectStagingDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetectMungedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUpdatePromptOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPollingRate" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="OutputLogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPrintTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </ZeroMunge.Properties.Settings>
        <AutomationTool.Properties.Settings>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotificationPopups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayNotificationSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetectStagingDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetectMungedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUpdatePromptOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </AutomationTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ZeroMunge.Properties.Settings>
            <setting name="Info_BuildDate" serializeAs="String">
                <value>03/25/2018 16:18:00</value>
            </setting>
            <setting name="Info_BuildNum" serializeAs="String">
                <value>133</value>
            </setting>
        </ZeroMunge.Properties.Settings>
        <AutomationTool.Properties.Settings>
            <setting name="Info_BuildDate" serializeAs="String">
                <value>12/31/2017 17:16:00</value>
            </setting>
            <setting name="Info_BuildNum" serializeAs="String">
                <value>89</value>
            </setting>
        </AutomationTool.Properties.Settings>
    </applicationSettings>
</configuration>
